# Problem Statement


Write a program that will give you in hand monthly salary after deduction on CTC HRA(10%), DA(5%), PF(3%) and taxes deduction as below:


Salary(Lakh): Tax(5%)


Below 5: 0%

5-10: 10%

10-20: 20%

above 20%: 30%

In [1]:
ctc=int(input("Enter Salary:"))

if ctc<500000:
    salary=ctc*0.82    #0.82={100-0.10(HRA)-0.05(DA)-0.03(PF)} ==> {100-0.18}  ==> 0.82
elif ctc<1000000:
    salary=ctc*0.72    #0.72={100-0.10(HRA)-0.05(DA)-0.03(PF)-0.10(Tax)} ==> {100-0.28}  ==> 0.72
elif ctc<2000000:
    salary=ctc*0.62    #0.62={100-0.10(HRA)-0.05(DA)-0.03(PF)-0.20(Tax)} ==> {100-0.38}  ==> 0.62
else:
    salary=ctc*0.52    #0.52={100-0.10(HRA)-0.05(DA)-0.03(PF)-0.30(Tax)} ==> {100-0.48}  ==> 0.52

actual_salary=salary/12

print("Your Monthly salary is:",actual_salary)

Enter Salary: 100

Your Monthly salary is: 6.833333333333333

# Problem Statement:

Write a Python program that allows you to enter grocery items and adds them in list. Print the final list

In [2]:
List=[]

while True:
    item = input("Enter a grocery item (or type 'done' to finish): ").strip()
    if item.lower() == 'done':
        break
        
    List.append(item)
    
    print("\nFinal Grocery List:")
    for idx, item in enumerate(List, start=1):
        print(f"{idx}. {item}")

print(List)

Enter a grocery item (or type 'done' to finish):  100

Final Grocery List:
1. 100

Enter a grocery item (or type 'done' to finish):  milk

Final Grocery List:
1. 100
2. milk

Enter a grocery item (or type 'done' to finish):  done

['100', 'milk']

whether Triangle if formed or not

In [3]:
angle1=int(input("Enter first angle:"))
angle2=int(input("Enter second angle:"))
angle3=int(input("Enter third angle:"))

if (angle1+angle2+angle3 == 180):
    print("It forms Triangle")
else:
    print("It does not forms Triangle")

Enter first angle: 50
Enter second angle: 50
Enter third angle: 50

It does not forms Triangle


write a pogram which takes user input of cost price and selling price and determine whether loss or profit

In [4]:
cp=int(input("Enter the cost price:"))
sp=int(input("Enter the selling price:"))

if cp>sp:
    print("Loss")
else:
    print("Profit")

Enter the cost price: 20
Enter the selling price: 10

Loss

Write a python program that takes temperature as input and find highest aong them

In [5]:
List=[]
max=-20
while True:
    dec=input("Want to add temp(Y/N):").strip()
    if dec.upper() == 'N':
        break
    else:
        temp=int(input("Enter temperature in 'C"))
        List.append(temp)

for i in range(len(List)):
    if List[i]>max:
        max=List[i]
        
print(List)
print("Highest Temperature is:", max)

Want to add temp(Y/N): N

[]
Highest Temperature is: -20

In [6]:
num= int(input("Enter a number:"))
fact=1
if (num>=0):
    for i in range(1, num+1):
        fact=fact*i
    print("Factorial:", fact)
else:
    print("invalid value")

Enter a number: 5

Factorial: 120

Reverse the given number

In [8]:
num=int(input("Enter the number"))
print(str(num)[::-1])

Enter the number 100

001

In [10]:
income=float(input("Enter your income:"))
rent= float(input("Enter your expenses for rent:"))
food= float(input("Enter your expenses for food:"))
entertainment= float(input("Enter your expenses for entertainment:"))


expense={"rent":rent, "food":food, "entertainment":entertainment}
total_expense=rent+food+entertainment
balance=income-total_expense

print("Total Expense:", total_expense)
print("Balance Income:", balance)

Enter your income: 10000
Enter your expenses for rent: 100
Enter your expenses for food: 100
Enter your expenses for entertainment: 500

Total Expense: 700.0
Balance Income: 9300.0

number which is divisible by 7 but not by 5. number between 2000 to 3200, print seperated by comma

In [12]:
for i in range(2000, 3200):
    if i%7 == 0 and i%5 != 0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [31]:
for i in range(1000, 3001):
    num=str(i)
    count=0
    for j in num:
        if int(j)%2 ==0:
            count+=1
        else:
            break
        if count==4:
            print(num, end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888