In [21]:
while (True):
    choice=input("Enter the operation you want to do:\n\t Add \n\t Subtract \n\t Multiply \n\t Divide \n\t Stop\n\n")
    if (choice.lower() == "stop"):
        break
    num1=eval(input("Enter 1st Number:"))
    num2=eval(input("Enter 2nd Number:"))
    if choice.lower() == "add":
        print(num1, " + ", num2," = ", num1+num2)
    elif choice.lower() == "subtract":
        print(num1, " + ", num2," = ", num1-num2)
    elif choice.lower() == "multiply":
        print(num1, " + ", num2," = ", num1*num2)
    elif choice.lower() == "divide":
        if num2==0:
            print("Cannot divide by zero!")
        else:
            print(num1, " + ", num2," = ", num1/num2)
    else:
        print("Wrong Input!")

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 Add
Enter 1st Number: 10
Enter 2nd Number: 30

10  +  30  =  40

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 subtract
Enter 1st Number: 10
Enter 2nd Number: 2

10  +  2  =  8

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 multiply
Enter 1st Number: 2
Enter 2nd Number: 5

2  +  5  =  10

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 divide
Enter 1st Number: 50
Enter 2nd Number: 0

Cannot divide by zero!

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 divide
Enter 1st Number: 10
Enter 2nd Number: 2

10  +  2  =  5.0

Enter the operation you want to do:
	 Add
	 Subtract
	 Multiply
	 Divide
	 Stop

 stop

In [2]:
import Calci
Calci.add(10,2)

12

In [3]:
import cmath
cmath.sqrt(63)

(7.937253933193772+0j)

In [4]:
import random

Methods of importing Modules
``` python

import module_name
import module_name as alias_name
from module_name import function_name
from module_name import *
```

In [5]:
import random
list1 = [1, 2, 3, 4, 5, 6]
print(random.choice(list1))

6

In [6]:
import random
random.seed(5)
print(random.random())
print(random.random())

0.6229016948897019
0.7417869892607294

In [7]:
import random
r1 = random.randint(5, 15)
print("Random number between 5 and 15 is % s" % (r1))
r2 = random.randint(-10, -2)
print("Random number between -10 and -2 is % d" % (r2))

Random number between 5 and 15 is 15
Random number between -10 and -2 is -2

In [8]:
from random import random
print(random())

0.029005228283614737

In [9]:
import random
list1 = [1, 2, 3, 4, 5, 6]
print(random.choice(list1))
string = "geeks"
print(random.choice(string))
tuple1 = (1, 2, 3, 4, 5)
print(random.choice(tuple1))

4
e
1

In [10]:
from random import sample
list1 = [1, 2, 3, 4, 5]

print(sample(list1,3))
list2 = (4, 5, 6, 7, 8)

print(sample(list2,3))
list3 = "45678"

print(sample(list3,3))

[2, 1, 5]
[7, 5, 8]
['8', '4', '6']

In [11]:
import random
sample_list = [1, 2, 3, 4, 5]

print("Original list : ")
print(sample_list)
random.shuffle(sample_list)
print("\nAfter the first shuffle : ")
print(sample_list)
random.shuffle(sample_list)
print("\nAfter the second shuffle : ")
print(sample_list)

Original list :
[1, 2, 3, 4, 5]

After the first shuffle :
[5, 4, 3, 1, 2]

After the second shuffle :
[2, 4, 5, 3, 1]

In [12]:

import pandas as pd

df= pd.read_csv(r"C:\Users\uSER\Downloads\Driver App Analytics (1).csv")

C:\Users\uSER\AppData\Local\Temp\ipykernel_13592\1051347603.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [13]:
df

,Analytics Event Name,Device Language,Device Model,Device OS,Device OS Version,Is Driver Online?,Application Version,Event Time (UTC),Latitude,Longitude,Speed (GPS),Analytics Event Type
0,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,False,4.352.10002,4/29/2022 6:52,-37.70673,176.15875,0,custom
1,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,False,4.352.10002,4/29/2022 6:52,-37.70673,176.15875,0,custom
2,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,False,4.352.10002,4/29/2022 6:52,-37.70673,176.15875,0,lifecycle
3,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,False,4.352.10002,4/29/2022 6:52,-37.70673,176.15875,0,lifecycle
4,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,False,4.352.10002,4/29/2022 6:49,-37.70397,176.15357,8,custom
...,...,...,...,...,...,...,...,...,...,...,...,...
22675,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,NaN,4.353.10002,5/6/2022 4:18,-37.73232,176.19268,1,lifecycle
22676,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,NaN,4.353.10002,5/6/2022 4:18,-37.73232,176.19268,1,custom
22677,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,NaN,4.353.10002,5/6/2022 4:18,-37.73232,176.19268,1,custom
22678,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,NaN,4.353.10002,5/6/2022 4:18,-37.73232,176.19268,1,custom
22679,driver_app,en_NZ,"iPhone12,1",ios,15.4.1,NaN,4.353.10002,5/6/2022 4:18,-37.73232,176.19268,1,custom

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22680 entries, 0 to 22679
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Analytics Event Name  22680 non-null  object
 1   Device Language       22680 non-null  object
 2   Device Model          22680 non-null  object
 3   Device OS             22680 non-null  object
 4   Device OS Version     22680 non-null  object
 5   Is Driver Online?     21836 non-null  object
 6   Application Version   22680 non-null  object
 7   Event Time (UTC)      22680 non-null  object
 8   Latitude              22680 non-null  float64
 9   Longitude             22680 non-null  float64
 10  Speed (GPS)           22680 non-null  int64
 11  Analytics Event Type  22680 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.1+ MB

In [15]:
dates=pd.date_range("20130101", periods=6)

In [16]:

dates.dtype

dtype('<M8[ns]')

In [17]:
import numpy as np
df2=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20130102"),
        "C":pd.Series(1,index=list(range(4)), dtype="float32"),
        "D":np.array([3] * 4, dtype="int32"),
        "E":pd.Categorical(["test", "train", "test", "train"]),
        "F":"foo",
    }
)

In [18]:
test = np.array([3] * 4)
test

array([3, 3, 3, 3])

In [19]:
E=pd.Categorical(["test", "train", "test", "train"])
print(type(E))
E

<class 'pandas.core.arrays.categorical.Categorical'>

['test', 'train', 'test', 'train']
Categories (2, object): ['test', 'train']

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo