# Basic Python Programming

In [1]:
airline="AirIndia"
luggage_limit=int(input("Enter luggage weight"))
AI_weight_limit=30
EM_weight_limit=35

if(airline=="AirIndia"):
    if(luggage_limit<=AI_weight_limit ):
        print("Check-in Cleared")
    else:
        print("Remove some luggage and come back")
elif(airline=="Emirates"):
    if(luggage_limit<=EM_weight_limit):
        print("Check in Cleared")
    else:
        print("Remove some luggage and come back")
else:
    print("Invalid airline")

Enter luggage weight 26

Check-in Cleared

In [2]:
no_of_passengers=3
ticket_number=1001
print("Ticket Numbers of the passenger:")
while(no_of_passengers>0):
    print("T-", ticket_number)
    ticket_number+=1
    no_of_passengers-=1

Ticket Numbers of the passenger:
T- 1001
T- 1002
T- 1003

In [3]:
no_of_passengers=3
ticket_number=1001
print("Ticket Numbers of the passenger:")
while(no_of_passengers>0):
    ticket_number+=1
    no_of_passengers-=1
print("T-", ticket_number)

Ticket Numbers of the passenger:
T- 1004

## What is Python?

Python is open-sourced, interpreted, object-oriented, high-level programming language with dynamic cementics

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Actual print syntax
print(*objects, sep='', end="\n", file=sys.stdout, flush=False)

In [5]:
from math import pi
print(pi)

3.141592653589793

Code for Christmas Tree using numpy library and Simple For loop

In [6]:
import numpy as np
x= np.arange(7,16)
y= np.arange(1,18,2)
z=np.column_stack((x[::-1],y))
for i, j in z:
    print(' '*i+'*'*j)
for r in range(3):
    print(' '*13, '| | ')
print(' '*12, end="(======)")
print('')

               *
              ***
             *****
            *******
           *********
          ***********
         *************
        ***************
       *****************
              | |
              | |
              | |
            (======)

import turtle
t=turtle.Turtle()
s=turtle.Screen()
s.bgcolor("Black")
t.width(2)
t.speed(15)

col=('white', 'white', 'white')
for i in range(100):
    t.pencolor(col[i%3])
    t.forward(i*4)
    t.right(121)

In [7]:
'''
Hello world
we can print multiline comment on terminal
'''

__doc__

'\nHello world\nwe can print multiline comment on terminal\n'

Class name= TitleCase MyClass
FUnction name= lowercase myfunction

In [8]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [9]:
x=100
id(x)

140704081724952

In [10]:
_greet="Hello"
id(_greet)

1937778348448

## Working with JSON notation

In [11]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

C:\Users\uSER\AppData\Local\Temp\ipykernel_3400\857451209.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,1.000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,0.044
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,0.848
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,1.120
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,4.660
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,1.330
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,3.000
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,0.216
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,0.308
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-20,1718841601,0.162

In [13]:
import requests

In [24]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [25]:
temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average','vote_count']]

In [26]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,145.867,8.700,26326
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,117.514,8.694,19968
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,105.931,8.577,12060
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,75.386,8.568,15462
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,61.397,8.544,8312
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,105.356,8.538,16027
6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,38.662,8.537,4399
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,121.851,8.516,32087
8,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,96.017,8.509,17652
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,84.663,8.505,16904
10,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,78.522,8.493,11040
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,269.573,8.488,27252
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-01,134.019,8.481,23520
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,109.791,8.475,26760
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,63.728,8.465,8321
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,140.001,8.464,12479
16,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.054,8.461,5286
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,38.460,8.500,3526
18,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,35.160,8.500,4221
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,50.782,8.451,12761

Program :


Current population of town is 10000. The population of the town is increasing at rate of 10% per year. You have to write program to find out the population at end of each of the last year

In [28]:
curr_population=10000
for i in range(10,0,-1):
    print(i, curr_population)
    curr_population=curr_population/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Code for Printing * in increasing order

In [35]:
row = int(input("Enter number of rows:"))
for i in range(row+1):
    for j in range(i+1):
        print('*', end='')
    print()

Enter number of rows: 5

*
**
***
****
*****
******

Problem 1: Combine two lists index-wise(columns wise)
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so
on till the last element. any leftover items will get added at the end of the new list.

Given Lis
t:
list1 = [" ", "na", "i", "K
h"]
list2 = ["y", "me", "s","]

Output:


[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]an"]

In [63]:
list1 = ["M", "na", "i", "Kh", "kkk"]
list2 = ["y", "me", "s", "an"]
List=[15]
index=0

if(len(list1)>len(list2)):
    for i in range(len(list2)):
        for j in range(len(list1)):
            List[index]=[list1[i], list2[i]]
        print(List[index])
    
elif(len(list2)>len(list1)):
    for i in range(len(list1)):
        for j in range(len(list2)):
            List[index]=[list1[i], list2[j]]
        print(List[index])

['M', 'y']
['na', 'me']
['i', 's']
['Kh', 'an']